# Database
db.sqlite3
*.sqlite3

# Media files
media/
media/*

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3-journal

# Environment
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/
