{% extends 'main.html' %} {% block content %}
<h1>Welcome to my Website</h1>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro nulla suscipit
  autem culpa enim dolor aliquam odio Lorem ipsum dolor sit amet consectetur,
  adipisicing elit. Quae libero sapiente, ipsum consequuntur nulla sit
  asperiores, quos voluptas eaque ab tempora amet aut, totam nam ut
  necessitatibus placeat odio eveniet? quos temporibus iusto officia ab dus
  aliquid nostrum, ut, facere eius? Sunt, repellendus?
</p>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Votes</th>
    <th>Positive Votes</th>
    <th>Created At</th>
    <th>Action</th>
  </tr>

  {% for project in projects %}
  <tr>
    <td>{{project.title}}</td>
    <td>{{project.description}}</td>
    <td>{{project.vote_total}}</td>
    <td>{{project.vote_ratio}}</td>
    <td>{{project.created}}</td>
    <td>
      <a href=" {% url 'update-project' project.id%}">Update</a>
      <a href=" {% url 'delete-project' project.id%}">Delete</a>
      <a href=" {% url 'project' project.id%}">View</a>
    </td>
  </tr>
  {% endfor%}
</table>

{% endblock content %}
